* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
#navbar {
    width: 100%;
    height: 75px;
    background-color: black;
    position: fixed;
    padding: 0 12px;
}
#container {
    display: flex;
    justify-content: space-between;
    height: 75px;

}
h1 {
    color: white;
    line-height: 75px;
    font-size: 20px;
    padding-left: 10px;
}
.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}
 ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 75px;
    padding: 12px 15px;
    margin: 0 4px;
}
.blue a{
    background-color: #0080ff;
    border: 2px royalblue solid;
}
.signup a {
    border: 2px royalblue solid;
}
#main #mindxer {
    height: 806px;
    width: 100%;
    background-image: linear-gradient( 180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
}
h2 {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    padding-top: 320px;
    color: white;

}
#mindxer > p{
    font-size: 2rem;
    font-weight: 80;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
}
#main #projects {
    background-color: #74ebd5;
    background-image: linear-gradient(-90deg, #74ebd5 0%, #9face6 100%);
    /* width: 100%;
    height: 1500px; */
    padding: 50px;
    text-align: center;
}
.projects-topic {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 6rem;
    margin-left: auto;
    border-bottom: 0.2rem solid #fff;
}
h3 {
    font-size: 2.72rem;
    color: white;
    text-align: center;
    display: block;
    
}
#project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-title {
    background: #000;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.project-img {
    width: 100%;
    object-fit: cover;
}
.sample {
    padding: 20px 0;
    text-align: center;
}
.btn {
    font-size: 2rem;
    background-color: gray;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}
.btn:hover {
    background-color: #FF0000;
}
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background-color: #FFFFFF;
    background-image: linear-gradient( 180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
}
.contact-header {
    color: #fff;
}
h5 {
    font-size: 5rem;
    font-weight: 700;
}
.contact-header > p {
    font-size: 1.2rem;
    font-weight: 80;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
}
.contact-link {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.contact-btn-link {
    font-size: 2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}
#footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #000;
}
#footer > p {
    margin: 20px;
    color: white;
    font-size: 20px;
}